In [1]:
import csv
import pandas as pd
from pycaret.regression import *

c:\Users\thera\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
c:\Users\thera\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [4]:
path_file = "C:\\Users\\thera\\Desktop\\DADS#4\\DADS6005 (Realtime)\\Final_project\\Back-up\\data_source\\MetroPT3(AirCompressor).csv"
df = pd.read_csv(path_file)
print(df.head(10))

   Unnamed: 0            timestamp    TP2    TP3     H1  DV_pressure  \
0           0  2020-02-01 00:00:00 -0.012  9.358  9.340       -0.024
1          10  2020-02-01 00:00:10 -0.014  9.348  9.332       -0.022
2          20  2020-02-01 00:00:19 -0.012  9.338  9.322       -0.022
3          30  2020-02-01 00:00:29 -0.012  9.328  9.312       -0.022
4          40  2020-02-01 00:00:39 -0.012  9.318  9.302       -0.022
5          50  2020-02-01 00:00:49 -0.012  9.306  9.290       -0.024
6          60  2020-02-01 00:00:59 -0.012  9.296  9.280       -0.024
7          70  2020-02-01 00:01:09 -0.014  9.286  9.270       -0.024
8          80  2020-02-01 00:01:19 -0.012  9.276  9.258       -0.022
9          90  2020-02-01 00:01:29 -0.012  9.264  9.248       -0.022

   Reservoirs  Oil_temperature  Motor_current  COMP  DV_eletric  Towers  MPG  \
0       9.358           53.600         0.0400   1.0         0.0     1.0  1.0
1       9.348           53.675         0.0400   1.0         0.0     1.0  1.0
2       9.338           53.600         0.0425   1.0         0.0     1.0  1.0
3       9.328           53.425         0.0400   1.0         0.0     1.0  1.0
4       9.318           53.475         0.0400   1.0         0.0     1.0  1.0
5       9.308           53.500         0.0400   1.0         0.0     1.0  1.0
6       9.298           53.375         0.0400   1.0         0.0     1.0  1.0
7       9.286           53.550         0.0400   1.0         0.0     1.0  1.0
8       9.276           53.425         0.0400   1.0         0.0     1.0  1.0
9       9.264           53.375         0.0400   1.0         0.0     1.0  1.0

   LPS  Pressure_switch  Oil_level  Caudal_impulses
0  0.0              1.0        1.0              1.0
1  0.0              1.0        1.0              1.0
2  0.0              1.0        1.0              1.0
3  0.0              1.0        1.0              1.0
4  0.0              1.0        1.0              1.0
5  0.0              1.0        1.0              1.0
6  0.0              1.0        1.0              1.0
7  0.0              1.0        1.0              1.0
8  0.0              1.0        1.0              1.0
9  0.0              1.0        1.0              1.0

In [5]:
df['y'] = 0
df.head()

,Unnamed: 0,timestamp,TP2,TP3,H1,DV_pressure,Reservoirs,Oil_temperature,Motor_current,COMP,DV_eletric,Towers,MPG,LPS,Pressure_switch,Oil_level,Caudal_impulses,y
0,0,2020-02-01 00:00:00,-0.012,9.358,9.340,-0.024,9.358,53.600,0.0400,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0
1,10,2020-02-01 00:00:10,-0.014,9.348,9.332,-0.022,9.348,53.675,0.0400,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0
2,20,2020-02-01 00:00:19,-0.012,9.338,9.322,-0.022,9.338,53.600,0.0425,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0
3,30,2020-02-01 00:00:29,-0.012,9.328,9.312,-0.022,9.328,53.425,0.0400,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0
4,40,2020-02-01 00:00:39,-0.012,9.318,9.302,-0.022,9.318,53.475,0.0400,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0

In [5]:
df.loc[(df['timestamp'] >= '2020-04-12 11:50:00') & (df['timestamp'] <= '2020-04-12 23:30:00'), 'y'] = 2
df.loc[(df['timestamp'] >= '2020-04-18 00:00:00') & (df['timestamp'] <= '2020-04-18 23:59:00'), 'y'] = 2
df.loc[(df['timestamp'] >= '2020-04-19 00:00:00') & (df['timestamp'] <= '2020-04-19 01:30:00'), 'y'] = 2
df.loc[(df['timestamp'] >= '2020-04-29 03:20:00') & (df['timestamp'] <= '2020-04-29 04:00:00'), 'y'] = 2
df.loc[(df['timestamp'] >= '2020-04-29 22:00:00') & (df['timestamp'] <= '2020-04-29 22:20:00'), 'y'] = 2
df.loc[(df['timestamp'] >= '2020-05-13 14:00:00') & (df['timestamp'] <= '2020-05-13 23:59:00'), 'y'] = 2
df.loc[(df['timestamp'] >= '2020-05-18 05:00:00') & (df['timestamp'] <= '2020-05-18 05:30:00'), 'y'] = 2
df.loc[(df['timestamp'] >= '2020-05-19 10:10:00') & (df['timestamp'] <= '2020-05-19 11:00:00'), 'y'] = 2
df.loc[(df['timestamp'] >= '2020-05-19 22:10:00') & (df['timestamp'] <= '2020-05-19 23:59:00'), 'y'] = 2
df.loc[(df['timestamp'] >= '2020-05-20 00:00:00') & (df['timestamp'] <= '2020-05-20 20:00:00'), 'y'] = 2
df.loc[(df['timestamp'] >= '2020-05-23 09:50:00') & (df['timestamp'] <= '2020-05-23 10:10:00'), 'y'] = 2
df.loc[(df['timestamp'] >= '2020-05-29 23:30:00') & (df['timestamp'] <= '2020-05-29 23:59:00'), 'y'] = 2
df.loc[(df['timestamp'] >= '2020-05-30 00:00:00') & (df['timestamp'] <= '2020-05-30 06:00:00'), 'y'] = 2
df.loc[(df['timestamp'] >= '2020-06-01 15:00:00') & (df['timestamp'] <= '2020-06-01 15:40:00'), 'y'] = 2
df.loc[(df['timestamp'] >= '2020-06-03 10:00:00') & (df['timestamp'] <= '2020-06-03 11:00:00'), 'y'] = 2
df.loc[(df['timestamp'] >= '2020-06-05 10:00:00') & (df['timestamp'] <= '2020-06-05 23:59:00'), 'y'] = 2
df.loc[(df['timestamp'] >= '2020-06-06 00:00:00') & (df['timestamp'] <= '2020-06-06 23:29:00'), 'y'] = 2
df.loc[(df['timestamp'] >= '2020-06-07 00:00:00') & (df['timestamp'] <= '2020-06-07 14:30:00'), 'y'] = 2
df.loc[(df['timestamp'] >= '2020-07-08 17:30:00') & (df['timestamp'] <= '2020-07-08 19:00:00'), 'y'] = 2
df.loc[(df['timestamp'] >= '2020-07-15 14:30:00') & (df['timestamp'] <= '2020-07-15 19:00:00'), 'y'] = 1
df.loc[(df['timestamp'] >= '2020-07-17 04:30:00') & (df['timestamp'] <= '2020-07-17 05:30:00'), 'y'] = 2

In [24]:
df_0 = df.loc[(df['y']==0)]
df_1 = df.loc[(df['y']==1)]
df_2 = df.loc[(df['y']==2)]

In [25]:
df_1.shape

(1622, 18)

In [33]:
df_1000_0 = df_0.sample(n=2000, random_state=42)
df_1000_0.shape

(2000, 18)

In [34]:
df_1000_2 = df_2.sample(n=2000, random_state=42)
df_1000_2.shape

(2000, 18)

In [35]:
df_full = pd.concat([df_1,df_1000_0,df_1000_2], ignore_index=True)
df_full

,Unnamed: 0,timestamp,TP2,TP3,H1,DV_pressure,Reservoirs,Oil_temperature,Motor_current,COMP,DV_eletric,Towers,MPG,LPS,Pressure_switch,Oil_level,Caudal_impulses,y
0,11710930,2020-07-15 14:30:00,9.964,9.614,-0.006,-0.008,9.614,81.850,5.9400,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1
1,11710940,2020-07-15 14:30:10,9.994,9.646,-0.008,-0.010,9.646,81.875,5.8550,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1
2,11710950,2020-07-15 14:30:20,10.022,9.678,-0.004,-0.010,9.676,82.100,6.0175,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1
3,11710960,2020-07-15 14:30:30,10.056,9.714,-0.006,-0.010,9.714,82.200,5.8800,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1
4,11710970,2020-07-15 14:30:40,10.046,9.682,-0.004,-0.008,9.682,82.275,6.0300,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617,5695620,2020-04-18 19:25:03,9.038,8.894,-0.008,2.016,8.894,73.250,5.8125,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,2
5618,8937530,2020-06-05 18:06:16,7.060,8.086,-0.010,1.796,8.086,74.950,5.2300,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,2
5619,8965780,2020-06-06 01:52:59,8.350,8.178,-0.010,2.218,8.176,75.200,5.4900,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,2
5620,8935850,2020-06-05 17:38:31,8.182,7.968,-0.008,2.178,7.972,75.300,5.4675,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,2
5621,7754330,2020-05-19 23:43:04,6.468,7.996,-0.010,1.562,7.998,73.875,5.1425,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,2

In [ ]:
#print(int(0.8*len(df)))
df_offline = df.iloc[0:int(0.8*len(df)),]
df_online = df.iloc[int(0.8*len(df)):,]
print(len(df_offline), len(df_online))

In [ ]:
for i in range(10):
    data = df.iloc[i,].to_json()
    print(data)

In [ ]:
df = df.drop(columns=['timestamp'])
print(df)

In [ ]:
df_y_0 = df.loc[df['y'] == 0]
df_y_1 = df.loc[df['y'] == 1]
df_y_2 = df.loc[df['y'] == 2]

#print(df_y_0.describe)
#print(df_y_1.describe)
#print(df_y_2.describe)

In [ ]:
X, y = df.iloc[:,0:-1], df.iloc[:, -1]

In [ ]:
print(X)

In [ ]:
from sklearn import datasets
from sklearn import linear_model
from sklearn import metrics
from sklearn import model_selection
from sklearn import pipeline
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [ ]:
X_array = X.to_numpy()
y_array = y.to_numpy()
X_train, X_test, y_train, y_test = train_test_split(X_array, y_array, test_size=0.2, random_state=42)
print(X_train,y_train)

In [36]:
s = setup(df_full, target = 'y', session_id = 123)

In [37]:
best = compare_models()

In [38]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [40]:
save_model(best, 'model5000')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['Unnamed: 0', 'TP2', 'TP3', 'H1',
                                              'DV_pressure', 'Reservoirs',
                                              'Oil_temperature', 'Motor_current',
                                              'COMP', 'DV_eletric', 'Towers',
                                              'MPG', 'LPS', 'Pressure_switch',
                                              'Oil_level', 'Caudal_impulses'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['timestamp'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('rest_encoding',
                  TransformerWrapper(include=['timestamp'],
                                     transformer=TargetEncoder(cols=['timestamp'],
                                                               handle_missing='return_nan'))),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('trained_model', KNeighborsRegressor(n_jobs=-1))]),
 'model5000.pkl')

 Prediction

In [39]:
predict_model(best)

,Unnamed: 0,timestamp,TP2,TP3,H1,DV_pressure,Reservoirs,Oil_temperature,Motor_current,COMP,DV_eletric,Towers,MPG,LPS,Pressure_switch,Oil_level,Caudal_impulses,y,prediction_label
1266,11723590,2020-07-15 18:01:20,7.610,7.176,-0.002,-0.010,7.174,81.175003,5.3000,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1,1.0
1867,5129840,2020-04-10 16:44:43,-0.010,9.622,9.610,-0.022,9.622,63.900002,3.7725,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0,0.0
289,11713820,2020-07-15 15:17:45,9.536,9.170,-0.002,-0.008,9.170,85.974998,5.8875,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1,1.0
5230,7303620,2020-05-13 15:17:44,5.562,7.588,-0.008,1.642,7.590,69.349998,4.7425,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,2,2.0
4877,8992770,2020-06-06 09:18:54,8.338,8.114,-0.006,2.216,8.118,76.474998,5.6400,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,2,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5561,9038640,2020-06-07 01:43:40,8.020,7.824,-0.010,2.066,7.826,75.099998,5.5000,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,2,2.0
3586,11532340,2020-07-12 15:35:58,-0.008,9.398,9.384,-0.014,9.398,70.750000,3.6275,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0,0.0
4847,8001250,2020-05-23 09:53:35,9.738,9.542,-0.010,1.530,9.544,76.750000,5.8875,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,2,0.4
5416,9037050,2020-06-07 01:17:24,8.082,7.854,-0.010,2.092,7.858,75.000000,5.5800,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,2,2.0
3785,5638940,2020-04-18 03:48:42,8.924,8.774,-0.010,2.006,8.776,73.650002,5.6950,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,2,2.0

In [ ]:
new_data = df.copy()
new_data.drop('y', axis=1, inplace=True)
new_data.head()

In [ ]:
predictions = predict_model(best, data = new_data)
predictions.head()